streamlit
pdfplumber
pandas
matplotlib
wordcloud
seaborn
spacy
scikit-learn
sentence-transformers
torch
NLTK
firebase-admin
simplejson
plotly
statsmodels
bcrypt
pytesseract
Pillow
customtkinter
numpy
google-generativeai
streamlit-oauth
opencv-python-headless # Optional, but highly recommended for image preprocessing
joblib
pdf2image
pymupdf
reportlab
seaborn
WeasyPrint
streamlit-javascript
xlrd==1.2.0
openpyxl
pdfkit
weasyprint
streamlit-lottie
streamlit
pandas
numpy
requests
scikit-learn
python-dateutil
markdown



transformers
sentence-transformers
torch
huggingface-hub
